/* Define em 0 os espaçamentos e margens da página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define um histórico de cores bases do site */
:root {
    --vinho: #850505;
    --vinhoescuro: #5c0101;
    --vinhotransparente: #a50000d0;
    --bege: #fff0d1;
    --begegradiente: #fff0d1c0;
    --letrasGrandes: #b01010;
    --fundo: #f76f6f;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: var(--vinho);
    color: var(--bege);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* Garantir que o header fique no topo, mas abaixo do menu */
    height: 80px;
    /* Define a altura fixa do header */
}

.container {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    padding: 20px;
    text-align: center;
}

.container h1 {
    color: #333;
}

.container p {
    color: #666;
    line-height: 1.6;
}

.container .date {
    color: #666;
    font-weight: bold;
}

.container .location {
    color: #666;
    font-weight: bold;
}